
@import "../components/_review.scss";

section.block-3-reviews {
    padding: $padding-vertical-big 0;

    .container {

        .h2 {
            text-align: center;
        }

        .reviews {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: $gap;
            align-items: start;

            .review {
                flex-direction: column;

                // Image
                .review__avatar {
                    height: 300px;
                    width: 300px;
                    border-radius: 150px;
                    margin-bottom: $padding-vertical-medium;
                    margin-right: 0;

                    .review_image {
                        height: 300px;
                        width: 300px;
                        border-radius: 150px;
                    }

                    @media (max-width:420px) {
                        & {
                            height: 250px;
                            width: 250px;
                            border-radius: 125px;
                            .review_image {
                                height: 250px;
                                width: 250px;
                                border-radius: 125px;
                            }
                        }
                    }
                }

                // Text
                .review_text {
                    text-align: center;
                    font-size: 20px;
                }

                // Author & Position
                .review_author, .review_position {
                    font-size: 16px;
                    text-align: center;
                }
            }

    
            @media (max-width: 768px) {
                & {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}