section.block-two-columns-title-text {
    padding: $padding-vertical-big 0;

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: calc($gap*2);

        @media (max-width: 768px) {
            & {
                grid-template-columns: 1fr;
                gap: $gap*2;
            }
        }


        // Title
        .h2 {
            font-size: calc(var(--fs-h2)*0.8);
            @media (max-width: 768px) {
                & {
                    font-size: --fs-h2;
                    text-align: center;
                }
            }
        }

        // Description
        .description {
            font-size: 18px;
            line-height: 1.5;

            ul {
                margin-top: $padding-vertical-medium;
                padding-left: 40px;
                margin-bottom: $padding-vertical-medium;
                li {
                    margin-bottom: $padding-vertical-small;
                    &:last-child {
                        margin-bottom:0;
                    }
                }
            }
        }
    }
}