@import "../components/_review.scss";
section.block-video {
    padding-top: 0;
    padding-bottom: $padding-vertical-big ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    // Video
    .video {
        width: 100%;
        max-width: calc(100vw - $padding-horizontal * 2);
        aspect-ratio: 16 / 9;
        margin-bottom: calc($padding-vertical-big / 1);
        border-radius: 12px;
        overflow: hidden;
        contain: layout paint;

        .video__player {
            width: 100%;
            height: 100%;
            aspect-ratio: 16 / 9;
            display: block;
            object-fit: cover;
            border: 0;
            border-radius: 12px;
            background-color: black;
        }
    }

}
